<section id="tes">
<h1 class="text-center text-capitalize pt-5">Testimonials</h1>
<hr class="w-25 mx-auto pt-5">
<div class="body3">
    <div class="container" id ="testi">
        <div class="wrapperss">
            <div class="card-1">
                <div class="card-thumbb">
                    <%= image_tag("w.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Author</span>
                </div>
                <div class="card-bodyy">

                    <p class="review">Learning things is my passion and Im very passionate about being able to help the people in need; my IT degree will help me to do this.And this website helps lot of people."</p>
                    <h2>Muhammad Waseem</h2>
                    <h4>Follow us</h4>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="card-thumbb">
                    <%= image_tag("p12.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Developer</span>
                </div>
                <div class="card-bodyy">

                    <p class="review">"Learning code is my obsession".In August 2016,I took the little I have saved and bought a computer,and installed ubuntu and start working on my passion and taught myself.</p>
                    <h2>Muddasir Zafar</h2>
                     <h4>Follow us</h4>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="card-thumbb">
                    <%= image_tag("h.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Designer</span>
                </div>
                <div class="card-bodyy">

                    <p class="review">Many companies struggle to grab people's attention using their testimonial pages, but RealState does a great job of catching your eye as soon as you arrive on the page.</p>
                    <h2>Muhammad Haris</h2>
                    <h3>Follow us</h3>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="indicatorss">
            <button class="activee"></button>
            <button></button>
            <button></button>
        </div>
    </div>
</div>
</br>
</br>
</section>
<style>
.social-links{
    margin-top:20px;

}
.card-bodyy .social-links a{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: black;
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	color: White;
	transition: all 0.5s ease;
}
.card-bodyy .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
</style>
<script>
const wrapperss = document.querySelector('.wrapperss');
const indicatorss = [...document.querySelectorAll('.indicatorss button')];

let currentTestimonial = 0; // Default 0

indicatorss.forEach((item, i) => {
    item.addEventListener('click', () => {
        indicatorss[currentTestimonial].classList.remove('activee');
        wrapperss.style.marginLeft = `-${100 * i}%`;
        item.classList.add('activee');
        currentTestimonial = i;
    })
})
</script>
