<div class="testimonialss">
      <div class="inner">
        <h1>Our Team</h1>
        <div class="borderr mb-5"></div>

        <div class="row nnn">
          <div class="col mmm">
            <div class="testimoniall">
              <%= image_tag("w.jpg",style: "width:80%; height:280px; border-radius: 50%;")%>
              <div class="namee"style="font-weight:bolder;">Muhammad Waseem</div>
              <h2 style="font-weight:bolder;">CEO</h2>
              <p style="color:#808080; font-size:15px;">
                Learning things is my passion and Im very passionate about being able to help the people in need; my IT degree will help me to do this."
              </p>
              <div class="nameee">Follow Us</div>
  	 			    <div class="social-links">
  	 				  <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
  	 				  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  	 				  <a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
            </div>
          </div>

          <div class="col mmm">
            <div class="testimoniall">
              <%= image_tag("p12.jpg",style: "width:80%; height:280px; border-radius: 50%;")%>
              <div class="namee"style="font-weight:bolder;">Muddasir Zafar</div>
              <h2 style="font-weight:bolder;">Developer</h2>
              <p style="color:#808080; font-size:14px;">
                "Learning code is my obsession".In August 2016,I took the little I have saved and bought computer,and installed ubuntu and start working.
              </p>
             <div class="nameee">Follow Us</div>
  	 			    <div class="social-links">
  	 				  <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
  	 				  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  	 				  <a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
            </div>
          </div>

          <div class="col mmm">
            <div class="testimoniall">
              <%= image_tag("h.jpg",style: "width:80%; height:280px; border-radius: 50%;")%>
              <div class="namee"style="font-weight:bolder;">Muhammad Haris</div>
              <h2 style="font-weight:bolder;">Designer</h2>
              <p style="color:#808080; font-size:14px;">
                Many companies struggle to grab people's attention using their testimonial pages, but RealState does a great job of catching your eye.
              </p>
              <div class="nameee">Follow Us</div>
  	 			    <div class="social-links">
  	 				  <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
  	 				  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  	 				  <a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<style>
.testimonialss{
  padding: 40px 0;
  /* background: #f1f1f1; */
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.borderr{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.nnn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mmm{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimoniall{
  background: #f1f1f1;;
  padding: 30px;
}

.namee, .nameee{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}
.social-links{
    margin-top:20px;

}
.social-links a{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: black;
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	color: White;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media screen and (max-width:960px) {
.mmm{
  flex: 100%;
  max-width: 80%;
}
}
@media screen and (max-width:600px) {

.mmm{
  flex: 100%;
  max-width: 100%;
}
}
</style>
