<section id="foot">
  <div class="body-f">
    <footer class="footer">
  	 <div class="container" id="conf">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">About us</a></li>
  	 				<li><a href="#">Contact Us</a></li>
  	 				<li><a href="#">Help and Support</a></li>
  	 				<li><a href="#">Terms of Use</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Connect</h4>
  	 			<ul>
  	 				<li><a href="#"><%= link_to 'Home',root_path%></a></li>
  	 				<li><a href="#"><%= link_to 'Houses', get_house_ads_path%></a></li>
  	 				<li><a href="#"><%= link_to 'Houses For Rent', get_rent_ads_path%></a></li>
  	 				<li><a href="#"><%= link_to 'Houses For Comercial', get_commercial_ads_path%></a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Head Office</h4>
  	 			<ul>
  	 				<li><p>Pearl One 44-C/2 Sadar Bazzar Lahore</p></li>
  	 				<li><p>0800-RealState(63522)</p></li>
  	 				<li><a href="#">Email Us</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="https://mbasic.facebook.com/?refsrc=deprecated&_rdr"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  	 				<a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
  </div>
</section>
<style>
.body-f{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
#foot{
  /* margin:0; */
	padding:0;
	margin-top: auto;
  box-sizing: border-box;
}
#conf{
	max-width: 1170px;
	margin:auto;
}
#conf .row{
	display: flex;
	flex-wrap: wrap;
}
#conf .row ul{
	list-style: none;
}
.footer{
	background-color: #343a40!important;

  padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
	color: #bbbbbb;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
</style>





