

//                               for searching



.search-content {
  position: absolute;
  font-size: 20px;
  width: 30%;
  bottom: 50%;
  left: 34%;
  z-index: 20;
  color: White;

  }

@media(max-width: 1024px)
{

  .search-content {
    width:50%;
   bottom: 70%;
   left: 26%;

 }
}
@media(max-width: 768px)
{

  .search-content {
    width:50%;
   bottom: 50%;
   left: 26%;

 }
}
@media(max-width: 468px)
{

  .search-content {
    width:50%;
   bottom: 30%;
   left: 26%;

 }
}

//                                 for pagination

.hello3 {
  display: flex;
  font-family: arial;
  justify-content: center;
  font-size: 28px;


}
.hello3 a, .hello3 em ,.hello3 span{
  padding: 10px;
}
@media(max-width: 768px){
  .hello3{
    font-size: 20px;
  }

}
@media(max-width: 468px){
  .hello3{
    font-size: 18px;
  }

}
@media(max-width: 360px){
  .hello3{
    font-size: 10px;
  }

}

//                        for Home page About us


.body1{
  display: flex;
  justify-content: center;
  align-items: center;


}
#con1{
  position:relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
#con1 .card{
  position: relative;
  max-width: 326px;
  height: 250px;
  /* background: #fff; */
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 5px 202px rgba(0,0,0,0.5); */
  transition: 0.3s ease-in-out;
}
#con1 .card:hover{
  height: 420px;


}
#con1 .card .imgbx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */

}
#con1 .card .content1{
  position: relative;
  padding: 10px 25px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#con1 .card:hover .content1{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
@media(max-width: 360px){

  #con1 .card{
    max-width: 300px;
  }
  #con1 .card .imgbx{
    width: 240px;
    left: 7px;

  }
}

@media(max-width: 320px){

  #con1 .card{
    max-width: 300px;
  }
  #con1 .card .imgbx{
    width: 220px;
    left: 1px;

  }
}

                  // for  testimonal

// #tes{
//   width: 100%;
//   /* background: #F5F5F5; */
// }
// .body3{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: 'dosis';

//   color: #080808;
//   /* background: linear-gradient(110deg, #fc6a6a 0%, #ffc69d 100%); */
// }
// #testi{
//   position: relative;
//   width: 800px;
//   min-width: 350px;
//   min-height: 250px;
//   padding-bottom: 40px;
//   overflow: hidden;
// }
// .wrapperss{
//   width: 300%;
//   /* 300% 'caz we have 3 cards */
//   min-height: 100%;
//   display: flex;
//   justify-content: space-between;
//   transition: 1s;
// }
// .wrapperss .card-1{
//   width: 800px;
//   min-height: 100%;
//   background: #fff;
//   border-radius: 20px;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

//   /* box-shadow: 5px 10px #888888; */

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 20px;
//   margin: 0 10px;
// }
// .card-thumbb{
//   width: 70%;
//   height: 250px;
//   overflow: hidden;
//   border-top-left-radius: 10px;
//   border-bottom-left-radius: 10px;
//   position: relative;
// }
// .client-name{
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
//   border-top-left-radius: 50px;
//   border-bottom-left-radius: 50px;
//   padding: 5px 20px;
//   background: #fff;
//   text-transform: capitalize;
//   font-size: 14px;
// }
// .card-bodyy{
//   width: 120%;
//   min-height: 100%;
//   height: auto;
//   margin-left: 20px;
//   position: relative;
//   padding-bottom:50px;
// }
// .review{
//   font-size: 20px;
//   color: #808080;
//   line-height: 30px;
//   margin-top: 30px;
// }
// .indicatorss{
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }
// .indicatorss button{
//   background: none;
//   border: none;
//   outline: none;
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   border: 2px solid #fff;
//   cursor: pointer;
//   margin-left: 5px;
//   transition: .5s;
//   background-color: Black;
// }
// button.activee{
//   width: 40px;
//   border-radius: 50px;
//   background: Black;
// }
// @media (max-width: 800px){
//   #testi{
//       width: 50%;
//       margin: auto;
//   }
//   .card-1{
//       flex-direction: column;
//   }
//   .card-thumbb{
//       width: 100%;
//       border-radius: 10px;
//   }
//   .card-bodyy{
//       width: 100%;
//       min-height: auto;
//       margin-left: 0;
//   }
// }

